@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


:root {
    --lightYellow: hsl(56, 100%, 94%);
    --lightGreen: hsl(80, 88%, 86%);
    --lightOrange: hsl(35, 100%, 85%);
    --lightPink: hsl(0, 100%, 90%);
    --lightPurple: hsl(245, 48%, 89%);
    --veryLightPurple: hsl(270, 60%, 96%);
    --white: hsl(0, 0%, 100%);
    --gray: hsl(240, 2%, 79%);
    --darkGrayishPurple: hsl(207, 13%, 34%);
    --darkBlue: hsl(237, 23%, 32%);
    --darkGray: hsl(240, 10%, 16%);
    --gold: rgb(227, 201, 51);

    --fontRubik: 'Rubik', sans-serif;
    --fontHelvetica: 'Helvetica', sans-serif;
}

/* hsl(272, 23%, 32%); #574162 otro fondo barra superior */

body {
    background-color: var(--veryLightPurple);
    font-family: 'Rubik', sans-serif;
}


.header-container {
    height: 7rem;
    background-color: var(--lightPurple);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.filter__checkbox {
    display: none;
}

.back-icon {
    cursor: pointer;
    height: 2.6rem;
}

.back-button {
    border: none;
    background-color: var(--lightPurple);
}

.filter-icon {
    cursor: pointer;
    height: 2.6rem;
}

.search-window {  /* ---------------------------------------------SEARCH CONTENT */
    display: none;
}

.search__input {
   height: 2.4rem;
   width: 22rem;
   border-radius: 1.2rem;
   border: 0;
}

.search__input input {
    font-family: var(--fontRubik);
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--darkGray);
    text-align: center;
}

.search__input input::placeholder {
    font-family: var(--fontRubik);
    font-weight: 300;
    font-size: 1.1rem;
    margin: 1rem;
    color: var(--gray);
    padding: 1rem;
}

.search__input:focus {
    border: none;
    outline: none;
}

/* --------------------------------------------FILTER CONTENT */

.filter-container {
    display: none;
}

.filter__checkbox:checked ~ .filter-container {
    display: block;
    position: absolute;
    top: 7rem;
    right: 0;
    background-color: var(--lightPurple);
    width: 100vw;
    padding: 1rem;
    padding-bottom: 3rem;
    border-radius: 0 0 1rem 1rem;
    list-style-type: none;
    align-items: center;
}

.filter-item {
    margin: auto;
    padding: 1rem;
    color: var(--white);
    font-family: var(--fontRubik);
    font-weight: 400;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter__list {
    width: 22rem;
    height: 2.4rem;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    font-family: var(--fontRubik);
    font-style: italic;
    font-size: 1.1rem;
    color: var(--lightPurple);
    padding-left: 1.2rem;
    background-color: white;
}


/* .filter-item input {
    font-family: var(--fontRubik);
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--darkGray);
    text-align: center;
    height: 2.6rem;
    width: 24rem;
    border-radius: 1.3rem;
    border: 0;
    outline: 0;
} */

.order, .sort-by {
    display: block;
    box-sizing: border-box;
    margin: .5rem;
}

/* --------------------------------------------MAIN CONTENT */

main {
    color: var(--darkGrayishPurple);
    padding: 3rem 4rem 4rem 4rem;
    display: flex;
    flex-direction: column;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.det_film-title {
    font-size: 2.8rem;
}

.det_year {
    display: block;
    font-size: 1.8rem;
}

.film__checkbox {
    display: none;
}

.film__checkmark {
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    border: solid .2rem var(--white);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checked-icon {
    height: 3rem;
}

.film__checkbox:hover ~ .film__checkmark {
    background-color: var(--lightPurple);
}

.film__checkbox:hover ~ .checked-icon {
    display: block;
}


.film__checkbox:checked ~ .film__checkmark {
    background-color: var(--lightPink);
    border: solid .2rem var(--lightPink);

}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.film-picture {
    height: 25rem;
    width: 20rem;
    border-radius: 2rem;
    background-color: var(--gray);
    margin-top: 2rem;
}

.rating-scores {
    margin-top: 2rem;
    width: 30rem;
    height: 14rem;
    border-radius: 2rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.score {
    height: 4rem;
    width: 100%;
    /* margin-top: 1.4rem; */
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
}

.film-description {
    height: 18rem;
    width: 30rem;
    margin-top: 2rem;
    font-size: 1.2rem;
}

.film-description h3 {
    font-size: 1.6rem;
}

.descr-text {
    text-align: justify;
    margin-top: 1rem;
}

.more-info {
    display: block;
    margin-top: 3rem;
}

.more-info a {
    color: var(--lightPink);
}



.star-rating__audience {
    user-select: none;
}

.rated-star {
    font-size: 2.8rem;
    color: var(--gold);
    background-color: unset;
    border: none;
}

.star {
    font-size: 2.8rem;
    color: var(--gold);
    background-color: unset;
    border: none;
}

.star-rating__personal {
    user-select: none;
}

.star:hover {
    cursor: pointer;
}



.attribution {
    padding: 0 4.6rem 4rem 4.6rem;
    color: var(--darkBlue);
}

.attribution a {
    color: var(--darkBlue);
}


