@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


:root {
    --lightYellow: hsl(56, 100%, 94%);
    --lightGreen: hsl(80, 88%, 86%);
    --lightOrange: hsl(35, 100%, 85%);
    --lightPink: hsl(0, 100%, 90%);
    --lightPurple: hsl(245, 48%, 89%);
    --veryLightPurple: hsl(270, 60%, 96%);
    --white: hsl(0, 0%, 100%);
    --gray: hsl(240, 2%, 79%);
    --darkGrayishPurple: hsl(207, 13%, 34%);
    --darkPurple: hsl(272, 23%, 32%);
    --darkBlue: hsl(237, 23%, 32%);
    --darkGray: hsl(240, 10%, 16%);

    --gold: rgb(209, 178, 5);

    --fontRubik: 'Rubik', sans-serif;
    --fontHelvetica: 'Helvetica', sans-serif;
}

/* hsl(272, 23%, 32%); #574162 otro fondo barra superior */

body {
    background-color: var(--veryLightPurple);
    background-image: url(../img/home_bg_80fill.png);
    width: auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Rubik', sans-serif;
}

header {
    margin: 0px auto;
}

.header-container {
    width: 100%;
    height: 7rem;
    position: fixed;
    top: 0px;
    background-color: var(--lightPurple);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.profile-icon {
    height: 2.6rem;
    cursor: pointer;
    user-select: none;
}

.filter__checkbox {
    display: none;
}

.filter-icon {
    cursor: pointer;
    height: 2.6rem;
    user-select: none;
}

.search-window {  /* ---------------------------------------------SEARCH CONTENT */
    display: none;
}

.search__input {
   height: 2.6rem;
   width: 24rem;
   border-radius: 1.3rem;
   border: 0;
}

.search__input input {
    font-family: var(--fontRubik);
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--darkGray);
    text-align: center;
}

.search__input input::placeholder {
    font-family: var(--fontRubik);
    font-weight: 300;
    font-size: 1.2rem;
    margin: 1rem;
    color: var(--gray);
    padding: 1rem;
}

.search__input:focus {
    border: none;
    outline: none;
}

/* .search__input:focus ~ .search-window {
    display: block;
    background-color: var(--white);
    position: absolute;
    top: 7rem;
    list-style-type: none;
    width: 90%;
    border-radius: 5px;
} */

/* .search-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
} */

/* .film-icon {
    height: 20px;
    width: 20px;
}

.arrow-icon {
    height: 20px;
    width: 20px;
}

.search-content ul {
    list-style: none;
    font-size: ;
}

.searchlist-item {
    text-align: center;
} */

.filter-container { /* --------------------------------------------FILTER CONTENT */
    display: none;
}

.filter__checkbox:checked ~ .filter-container {
    display: block;
    position: absolute;
    top: 6.9rem;
    right: 0;
    background-color: var(--lightPurple);
    width: 100vw;
    padding: 1rem;
    padding-bottom: 3rem;
    border-radius: 0 0 1rem 1rem;
    list-style-type: none;
    align-items: center;
}

.filter-item {
    margin: auto;
    padding: 1rem;
    color: var(--white);
    font-family: var(--fontRubik);
    font-weight: 400;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter__list {
    width: 22rem;
    height: 2.4rem;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    font-family: var(--fontRubik);
    font-style: italic;
    font-size: 1.1rem;
    color: var(--gray);
    padding-left: 1.2rem;
    background-color: white;
}

.order, .sort-by {
    display: block;
    box-sizing: border-box;
    margin: .5rem;
}



/* --------------------------------------------MAIN CONTENT */

main {
    padding-top: 7rem;
}

.webapp-title {
    font-size: 4rem;
    font-weight: 400;
    color: var(--white);
    text-shadow: 5px 5px 8px var(--darkPurple);
    padding: 2rem 3rem 0 3rem;
}

.filmlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0rem;
    padding-bottom: 8rem;
    text-decoration: none;

}

/* --------------------------------------------FILM CARDS */

.film {
    background-color: var(--white);
    width: 34rem;
    height: 16rem;
    border-radius:1.5rem;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    box-shadow: 8px 8px 8px var(--darkPurple);
    outline: none;
    border: none;
    text-decoration: none;
    margin-top: 3rem;
}

.film-pic {
    background-color: var(--lightYellow);
    width: 12rem;
    height: 16rem;
    border-radius: 1.5rem 0 0 1.5rem;
}

.film-info {
    background-color: var(--white);
    width: 22rem;
    height: 16rem;
    border-radius: 0 1.5rem 1.5rem 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    font-family: var(--fontRubik);
    color: var(--darkGrayishPurple);
    text-decoration: none;
}

.film-title {
    display: flex;
    flex-direction: row;
    text-align: left;
    text-decoration: none;
    align-items: center;
}


.film-title h3 {
    width: 90%;
    font-size: 1.8rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-weight: 500;
}

.checkmark {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 1.6rem;
    border: solid .2rem var(--lightPurple);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.film__checkbox {
    display: none;
}

.checked-icon {
    height: 2.2rem;
}

.film__checkbox:hover ~ .checkmark {
    background-color: var(--lightPurple);
    user-select: none;
}


.film__checkbox:checked ~ .checkmark {
    background-color: var(--lightPink);
    border: solid .2rem var(--lightPink);
    user-select: none;

}

.film-details {
    display: flex;
    flex-direction: row;
    
}

.year, .duration, .space {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
    margin-right: 1rem;
}

.description {
    margin-top: .6rem;
    overflow: hidden;
    height: 7rem;
    font-size: .6;
}

.star-rating {
    /* margin-top: .5rem; */
    user-select: none;
}

.h_star {
    font-size: 3rem;
    color: var(--lightOrange);
    /* border: solid .1rem var(--lightOrange); */
    background-color: unset;
    border: none;
}

.star:hover {
    cursor: pointer;

}

.hide {
    display: none;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lightPurple);
}

.attribution {
    padding: 2rem 4.6rem 2rem 4.6rem;
    color: var(--darkBlue);
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
}

.attribution p {
    text-align: center;
}

.attribution a {
    color: var(--darkBlue);
}
