@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


:root {
    --lightYellow: hsl(56, 100%, 94%);
    --lightGreen: hsl(80, 88%, 86%);
    --lightOrange: hsl(35, 100%, 85%);
    --lightPink: hsl(0, 100%, 90%);
    --lightPurple: hsl(245, 48%, 89%);
    --veryLightPurple: hsl(270, 60%, 96%);
    --white: hsl(0, 0%, 100%);
    --gray: hsl(240, 2%, 79%);
    --darkGrayishPurple: hsl(207, 13%, 34%);
    --darkBlue: hsl(237, 23%, 32%);
    --darkGray: hsl(240, 10%, 16%);

    --fontRubik: 'Rubik', sans-serif;
    --fontHelvetica: 'Helvetica', sans-serif;
}

/* hsl(272, 23%, 32%); #574162 otro fondo barra superior */

body {
    background-color: var(--veryLightPurple);
    background-image: url(../img/home_bg_80fill.png);
    width: auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Rubik', sans-serif;
}

main {
    height: 84vh;
}

header {
    margin: 0px auto;
}


.header-container {
    width: 100%;
    height: 7rem;
    position: fixed;
    background-color: var(--lightPurple);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}


.back-icon {
    cursor: pointer;
    height: 2.6rem;
}

.back-button {
    border: none;
    background-color: var(--lightPurple);
}


/* --------------------------------------------MAIN CONTENT */

main {
    color: var(--white);
    padding: 15rem 4rem 4rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-size: 2rem;
    padding: 2rem 0 2rem 0;
    border-radius: 2rem;
    background-color: var(--white);
    color: var(--darkGrayishPurple);
}

.film-record {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    font-size: 1.4rem;
}

.profile-pic img{
    height: 24rem;
    width: 24rem;
    border-radius: 12rem;
}

.profile-container h1 {
    font-size: 3rem;
    font-weight:400;
    margin-top: 1rem;
}

.record-track-container {
    width: 31rem;
    height: 4rem;
    border-radius: 2rem;
    margin: 1rem;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.record-track-line {
    background-color: var(--lightPink);
    width: 20rem;
    height: 3rem;
    border-radius: 1.5rem;
    margin: .5rem;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attribution {
    padding: 2rem 4.6rem 2rem 4.6rem;
    color: var(--darkBlue);
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    position: absolute;
    bottom: 0rem;
    background-color: var(--lightPurple);
}

.attribution p {
    text-align: center;
}

.attribution a {
    color: var(--darkBlue);
}
